.image-filters {
    width: 300px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.45);
    display: flex;
    flex-direction: column;
}

.image-filters-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 10px;
    padding: 0 30px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 4px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}

.image-filters-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.actions {
    flex-shrink: 0;
}

.title {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.filter-group {
    padding-top: 15px;
    padding-right: 5px;
}

.group-title {
    font-weight: 500;
    font-size: 1rem;
}

.group-subtitle {
    font-weight: 500;
    margin: 0;
}

.group-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}

.group-icon {
    color: #494949;
}

.filter-name,
.filter-value {
    font-size: 0.95rem;
    font-weight: 500;
}

.filter-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filter-slider {
    width: 100%;
}

.btn {
    display: block;
    width: 100%;
    margin: 5px 15px;
}

.mat-mdc-card-content:first-child {
    padding-top: 0;
}

.mat-expansion-panel {
    background: transparent;

    .mat-expansion-panel-header {
        height: auto;
        padding: 0 10px;
    }

    &:not([class*=mat-elevation-z]) {
        box-shadow: none;
    }
}
