.group-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}

.group-icon {
    color: #494949;
}

.group-title {
    font-weight: 500;
    font-size: 1rem;
}

.group-subtitle {
    font-weight: 500;
    margin: 0;
}

.filter-group {
    padding-top: 15px;
    padding-right: 5px;
}

.mat-expansion-panel {
    background: transparent;

    .mat-expansion-panel-header {
        height: auto;
        padding: 0 10px;
    }

    &:not([class*=mat-elevation-z]) {
        box-shadow: none;
    }
}