.container {
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url("../../../../../public/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.image-upload-section {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.image-upload-card {
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 1;

    border: 2px dashed #9e9e9e;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: none;

    &:hover {
        border-color: #7b61ff;
        background-color: rgba(255, 255, 255, 0.3);
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }
}

.subtitle {
    margin-bottom: 2rem;
    max-width: 550px;
    text-align: center;
}

.image-upload-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.image-upload-btn {
    background-color: #7b61ff;
    color: #fff;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #6d51fc;
    }
}

.image-upload-icon {
    width: 48px;
    height: 48px;
    font-size: 48px;
    color: #7b61ff;
    margin-bottom: 20px;
}

.upload-info {
    margin: 0;
}

.drop-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: #fafafa;
    transition: opacity 0.3s ease;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;

    &.visible {
        pointer-events: all;
        opacity: 1;
    }
}