<div [formGroup]="form">
  @switch (filter.type) {
  @case ('slider') {
  @if (form.get(filter.id)) {
  <div class="filter-slider-group">
    <div class="filter-label">
      <span class="filter-name text">{{filter.name | translate}}</span>
      <span class="filter-value text">{{getFilterValue(filter,
        getControlValue(filter.id))}}</span>
    </div>
    <mat-slider class="filter-slider" [min]="filter.minValue ?? 0" [max]="filter.maxValue ?? 1"
      [step]="filter.step ?? 0.1">
      <input matSliderThumb [formControlName]="filter.id">
    </mat-slider>
  </div>
  }
  }
  @case ('button') {
  @if (form.get(filter.id) && filter.values) {
  <div>
    <p class="filter-name text">{{filter.name | translate}}
    </p>
    <div class="filter-button-group">
      @for (value of filter.values; track value) {
      <label class="filter-button">
        <input type="radio" [formControlName]="filter.id" [value]="value.id" hidden />
        <img [src]="value.image" class="filter-button-img" [class.active]="form.get(filter.id)?.value === value.id" />
        <p class="text">{{value.name | translate}}</p>
      </label>
      }
    </div>
  </div>
  }
  }
  @case ('toggle') {
  @if (form.get(filter.id)) {
  <div class="filter-toggle">
    <p class="filter-name text">
      {{ filter.name | translate }}
    </p>
    <mat-slide-toggle [formControlName]="filter.id">
    </mat-slide-toggle>
  </div>
  }
  }
  @case ('checkbox') {
  @if (form.get(filter.id)) {
  <div class="filter-checkbox">
    <p class="filter-name text filter-name-with-icon">
      {{ filter.name | translate }}
      @if(filter.tooltip) {
      <mat-icon class="filter-tip-icon" [matTooltip]="(filter.tooltip) | translate" matTooltipPosition="above">
        info
      </mat-icon>
      }
    </p>
    <mat-checkbox [formControlName]="filter.id">
    </mat-checkbox>
  </div>
  }
  }
  }
</div>