.filter-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filter-slider {
    width: 100%;
}

.filter-name,
.filter-value {
    font-size: 0.95rem;
    font-weight: 500;
}

.radio-btn-group {
    display: flex;
    flex-direction: column;
}

::ng-deep .mdc-label {
    font-weight: 500;
    font-size: 0.85rem;
    color: #555555;
}