<div [formGroup]="form">
  @switch (filter.type) {
    @case ('slider') {
      @if (form.get(filter.id)) {
        <div class="filter-slider-group">
          <div class="filter-label">
            <span class="filter-name text">{{filter.name | translate}}</span>
            <span class="filter-value text">{{getFilterValue(filter,
            getControlValue(filter.id))}}</span>
          </div>
          <mat-slider class="filter-slider" [min]="filter.minValue ?? 0" [max]="filter.maxValue ?? 1"
            [step]="filter.step ?? 0.1">
            <input matSliderThumb [formControlName]="filter.id">
          </mat-slider>
        </div>
      }
    }
    @case ('radio') {
      @if (form.get(filter.id) && filter.values) {
        <div class="filter-radio-group">
          <p class="filter-name text">{{filter.name | translate}}</p>
          <mat-radio-group class="radio-btn-group" [formControlName]="filter.id">
            @for (value of filter.values; track value) {
              <mat-radio-button class="text"
                [value]="value">{{getFilterValue(filter, value) |
              translate}}</mat-radio-button>
            }
          </mat-radio-group>
        </div>
      }
    }
  }
</div>