<div class="container" (mousemove)="onDrag($event)" (touchmove)="onDrag($event)">
    <img [src]="beforeImage" alt="Before" class="image before" [style.clipPath]="clipPath"
        [style.objectFit]="imageObjectFit" />
    <img [src]="afterImage" alt="After" class="image after"
        [style.objectFit]="imageObjectFit" />

    <div class="slider-line" [style.left.%]="sliderValue">
        <div class="slider-thumb" [style.width.px]="sliderThumbDiameter" [style.height.px]="sliderThumbDiameter">
            <mat-icon class="arrow left">keyboard_arrow_left</mat-icon>
            <mat-icon class="arrow right">keyboard_arrow_right</mat-icon>
        </div>
        <div class="slider-label before">{{"common.before" | translate}}</div>
        <div class="slider-label after"> {{"common.after" | translate}} </div>
    </div>

    <div *ngIf="isLoading" class="loading-section">
        <mat-spinner diameter="80"></mat-spinner>
    </div>
</div>